# APPLY

In [5]:
import pandas as pd
import seaborn as sns
import numpy as np
df = pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
                  'degisken1': [10,11,52,23,43,55],
                  'degisken2': [100,252,33,252,111,969]}, columns=['gruplar', 'degisken1','degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         11        252
2       C         52         33
3       A         23        252
4       B         43        111
5       C         55        969

In [3]:
df.apply(np.sum)

degisken1     194
degisken2    1717
dtype: int64

In [4]:
df.apply(np.mean)

degisken1     32.333333
degisken2    286.166667
dtype: float64

In [6]:
df.groupby("gruplar").apply(np.sum)

        gruplar  degisken1  degisken2
gruplar
A            AA         33        352
B            BB         54        363
C            CC        107       1002

In [7]:
df.groupby("gruplar").apply(np.mean)

         degisken1  degisken2
gruplar
A             16.5      176.0
B             27.0      181.5
C             53.5      501.0