# TRANSFORM

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
df = pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
                  'degisken1': [10,11,52,23,43,55],
                  'degisken2': [100,252,33,252,111,969]}, columns=['gruplar', 'degisken1','degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         11        252
2       C         52         33
3       A         23        252
4       B         43        111
5       C         55        969

In [2]:
df["degisken1"]*9

0     90
1     99
2    468
3    207
4    387
5    495
Name: degisken1, dtype: int64

In [7]:
df_a = df.iloc[:,1:3]

In [9]:
df_a.transform(lambda x: (x-x.mean()) / x.std())

   degisken1  degisken2
0  -1.101533  -0.538301
1  -1.052210  -0.098793
2   0.970006  -0.732031
3  -0.460342  -0.098793
4   0.526105  -0.506494
5   1.117974   1.974413

In [ ]:
#bu bolumu tekrar incele, biraz kafa karistirici.