# FILTER

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
df = pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
                  'degisken1': [10,11,52,23,43,55],
                  'degisken2': [100,252,33,252,111,969]}, columns=['gruplar', 'degisken1','degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         11        252
2       C         52         33
3       A         23        252
4       B         43        111
5       C         55        969

In [2]:
def filter_func(x):
    return x["degisken1"].std()>9

In [3]:
df.groupby("gruplar").filter(filter_func)

  gruplar  degisken1  degisken2
0       A         10        100
1       B         11        252
3       A         23        252
4       B         43        111